
.ConteinerTitulo{
    
    display: flex;
    justify-content: space-between; /* Centraliza os elementos que estão dentro (horizontalmente) */
    overflow: hidden;
    margin-bottom: 20px;
    align-items: center;
}

.CINE-PRISMA {
    
    margin-left: 5%;
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza os elementos que estão dentro (verticalmente) */
    
}
.CINE-PRISMA h1{
    color:rgb(189, 53, 53);
    font-size: 50px; 
}

.formulario{
    text-decoration: none;
    margin-left: auto; 
    margin-right: 10px;
}

.formulario button{

    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(189, 53, 53);
    border: solid ;

}


.topo{
    width:100%;
    height:10vh;
    background-color: rgb(189, 53, 53);
    display: flex;

    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    
    border-radius: 30px;

    margin-bottom: 30px;
}
.topo h2{
    font-size:40px;
    color:#000000;
}


   /*Cartazes*/

.ConteinerCartazes { 
	display: flex;
    padding: 0;
	margin: 0;
    justify-content: center; /* Centraliza os elementos que estão dentro (horizontalmente) */
    align-items: center;  /* Centraliza os elementos que estão dentro (verticalmente) */
}

.GrupoCartaz{ 
    
	display: flex;
    justify-content: center;
    align-items: center;
    gap:15px; 
    overflow: hidden; /*Vai ocultar o conteúdo que ultrapassa os limites de Cartaz.*/
    position: relative;
    transition: 0.5s;
}

.Cartaz{

    position: relative;
    width: 500px; /*Largura do Cartaz*/
	height: 60vh; /*Altura do Cartaz*/
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
}

.Info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex; 
    align-items: center; /*centraliza o botao da certo por conta do display flex*/
    justify-content: center; /*centraliza o botao da certo por conta do display flex*/
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    text-align: center;

}

.Cartaz:hover .Info{
    
    opacity: 1;

}

.Cartaz:hover img{

    filter: blur(2px);
    transform: scale(1.1);
    transition: 0.5s;

}

.Cartaz img{  

	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
    position: relative;
    transition: 0.5s;
}

.Info button{
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.Info button:hover {
    background-color: #ff4757;
    transform: scale(1.1);
  }

  /*Filmes*/

  hr{
    padding: 8px;
    background-color: rgb(189, 53, 53);
    border: solid rgb(189, 53, 53);
    border-radius: 30px;
}


.ConteinerFilmes{

    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    
}
.GrupoFilmes {
    display: flex;
    gap: 20px; /*Espaçamento entre as fotos*/
    overflow-x: auto; /*Permite a rolagem horizontal*/
    overflow-y: hidden; /* Oculta a rolagem vertical */
    scroll-snap-type: x mandatory;
        /* Define o comportamento de "snap" para a rolagem horizontal (eixo x) */
        /* "scroll-snap-type: x" significa que o contêiner "gruda" horizontalmente nos elementos filhos durante a rolagem. 
       "mandatory" faz o snap ser obrigatório, ou seja, ao parar a rolagem, o contêiner sempre alinhará a próxima imagem ao centro. */

    scroll-behavior: smooth; /* Faz a rolagem ser suave ao navegar entre os elementos */
    width: 95%;
    flex-direction: row; /* Define que os elementos dentro do contêiner estarão em uma linha horizontal */
}

.GrupoFilmes img{

    width: 200px;
    height: 250px;
    border-radius: 25px;

}
.filmes{
    
    scroll-snap-align: center;
    
    /* Alinha cada elemento ao centro do contêiner quando a rolagem "gruda" (snap) */
    /* "scroll-snap-align: center" faz com que o item se alinhe ao centro do contêiner quando a rolagem para.
       Isso garante que cada imagem se centralize ao parar de rolar. */

    flex: none; /* Garante que cada slide tenha uma largura fixa, necessária para o efeito de rolagem */
    width: 200px;
    height: 250px;
}

.filmes img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

/* Oculta a barra de rolagem */
.GrupoFilmes::-webkit-scrollbar {
    display: none;
}


  /*Pagina do Filme Forja*/

.ConteinerTrailers{
    display: flex;
    padding: 0;   
    margin-top: 100px;
    justify-content: center;
    align-items: center;

}
.Trailers {
    display: block;
    width: 600px; 
    border: 2px solid white;
    border-radius: 15px;
}

.Trailers video{

    width: 100%; /*Coloca o video do tamanho do conteiner*/
    height: 100%;
    object-fit: cover; /*mantem a proporção da imagem*/
    border-radius: 15px;
}

.SinopseForja{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: rgba(211, 212, 120, 0.795);
}
.DivTexto{
    background-color: rgba(211, 212, 120, 0.795);
    padding: 20px; /*Espaçamento da parte de dentro*/
    margin: 20px auto;
	border-radius: 10px;
	max-width: 800px; /*Colocando uma largura Maxima*/
}
.DivTexto p {
    font-size: 20px;
    text-align: justify;
    color: rgba(24, 23, 23, 0.808);
}

