@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* Pagina inicial */

::-webkit-scrollbar {
    width: 10px;
    background-color: #4b4b4b;
}

::-webkit-scrollbar-thumb {
    background-color: #009688;
    border-radius: 50px;
}

.ScrollTop {
    outline: none;
    border: 0;
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}

.ScrollTop.active {
    opacity: 1;
    visibility: visible;
}

.ScrollTop a:link {
    text-decoration: none;
    color: #080F0F;

}

.ScrollTop a:visited {
    text-decoration: none;
    color: #080F0F;
}

html {
    Scroll-behavior: smooth
}

.BodyIndex {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("Imagens/Vingadores-Fundo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    margin-bottom: 30px;
}

.logo {
    margin-left: 42px;
}

.logo img {
    height: 8vh;
}

.logo h3 {
    color: #009688;
    font-size: 25px;
    margin-top: -40px;
    margin-left: 60px;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: rgb(227, 238, 227);
}

.nav ul li a:hover {
    color: #009688;
    font-weight: bolder;
}

.user {
    cursor: pointer;
    color: #009688;
    margin-top: 10px;
    margin-right: 40px;
}

.user a {
    text-decoration: none;
    color: rgb(227, 238, 227);
    background-color: #009688;
    border-radius: 10px;
    padding: 10px 30px;
}

.user a:hover {
    background-color: black;
    color: rgb(227, 238, 227);
    font-weight: bolder;
}

.user i {
    font-size: 20px;
    margin-right: 10px;
    padding: 0px 14px;
}

.Cartaz-Class {
    width: 100%;
    height: 8vh;
    background-color: #009688;
    display: flex;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    border-radius: 5px;

    margin-bottom: 45px;
}

.Cartaz-Class h2 {
    font-size: 35px;
    color: #ffffff;
}


/*Cartazes*/

.ConteinerCartazes {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    /* Centraliza os elementos que estão dentro (horizontalmente) */
    align-items: center;
    /* Centraliza os elementos que estão dentro (verticalmente) */
}

.GrupoCartaz {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    /*Vai ocultar o conteúdo que ultrapassa os limites de Cartaz.*/
    position: relative;
    transition: 0.5s;
}

.Cartaz {

    position: relative;
    width: 400px;
    /*Largura do Cartaz*/
    height: 60vh;
    /*Altura do Cartaz*/
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
}

.Info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    /*centraliza o botao da certo por conta do display flex*/
    justify-content: center;
    /*centraliza o botao da certo por conta do display flex*/
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    text-align: center;

}

.Cartaz:hover .Info {

    opacity: 1;

}

.Cartaz:hover img {

    filter: blur(2px);
    transform: scale(1.1);
    transition: 0.5s;

}

.Cartaz img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    position: relative;
    transition: 0.5s;
}

.Info button {
    background-color: #13a99b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.Info button:hover {
    background-color: #008080;
    transform: scale(1.1);
}

/*Categoria filmes*/

.CategoriaFilmes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    border-radius: 5px;
    background-color: #009688;
    margin-bottom: 5px;
    margin-top: 8px;

}

.CategoriaFilmes h1 {
    text-align: center;
    font-size: 35px;
    padding: 5px;
    color: #ECF0FC;
}

/*Filmes*/

.ConteinerFilmes {

    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;

}

.GrupoFilmes {
    display: flex;
    gap: 20px;
    /*Espaçamento entre as fotos*/
    overflow-x: auto;
    /*Permite a rolagem horizontal*/
    overflow-y: hidden;
    /* Oculta a rolagem vertical */
    scroll-behavior: smooth;
    /* Faz a rolagem ser suave ao navegar entre os elementos */
    width: 95%;
    flex-direction: row;
    /* Define que os elementos dentro do contêiner estarão em uma linha horizontal */

}

.filmes {

    scroll-snap-align: center;

    /* Alinha cada elemento ao centro do contêiner quando a rolagem "gruda" (snap) */
    /* "scroll-snap-align: center" faz com que o item se alinhe ao centro do contêiner quando a rolagem para.
       Isso garante que cada imagem se centralize ao parar de rolar. */

    flex: none;
    /* Garante que cada slide tenha uma largura fixa, necessária para o efeito de rolagem */
    width: 200px;
    height: 300px;
    transition: all 1s;
    margin-bottom: 15px;
}

.filmes img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.filmes:hover {
    opacity: 0.3;
}

.GrupoFilmes::-webkit-scrollbar {
    height: 6px;
    background: transparent;
}



/*Pagina do Filme Forja*/

/*Logo que volta para a pagina principal*/

.ConteinerTrailers {
    display: flex;
    padding: 0;
    margin-top: 100px;
    margin-right: 40px;

}

.h1pgfilmes {
    color: white;
}


/*Foto do filme*/
.Poster {
    margin-left: 75px;
    width: 250px;
    height: 350px;

}

.Poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/*Informações do Filme*/
.InfoFilme {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoFilme ul {
    list-style: none;
    /* Remove os marcadores da lista */
    padding: 0;
    /* Remove o preenchimento padrão */
    margin: 0;
    /* Remove a margem padrão */
}

.InfoFilme li {
    display: flex;
    /* Coloca os itens em linha */
    margin-bottom: 15px;
    /* Adiciona espaçamento entre os itens */
    gap: 15px;
}

.InfoFilme strong {
    color: #fff;
    /* Cor para os títulos */
}

.InfoFilme span {
    color: #009688;
    /* Cor para as informações */
}

/*Trailer do Filme*/
.Trailers {
    display: block;
    width: 600px;
    border: 5px solid #009688;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 40px;
}

.Trailers video {

    width: 100%;
    /*Coloca o video do tamanho do conteiner*/
    height: 100%;
    object-fit: cover;
    /*mantem a proporção da imagem*/
    border-radius: 15px;
}


/*Sinopse do Filme*/

.SinopseForja {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: #009688;
}

.DivTexto {
    background-color: #009688;
    padding: 20px;
    /*Espaçamento da parte de dentro*/
    margin: 50px auto;
    border-radius: 10px;
    max-width: 1200px;
    /*Colocando uma largura Maxima*/
}

.DivTexto p {
    font-size: 20px;
    text-align: justify;
    color: white;
}

/*Maps*/

.TituloMaps {
    display: flex;
    color: #009688;
    justify-content: center;
    align-items: center;
}

.ConteinerMaps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Ajuste conforme necessário */
    width: 100%;
    margin-bottom: 150px;
}

.ConteinerMaps iframe {
    max-width: 100%;
    /* Adapta o tamanho do mapa ao contêiner */
    width: 1000px;
    /* Defina o tamanho desejado */
    height: 500px;
    border-radius: 8px;
    /* Deixa as bordas arredondadas */
}


/*Rodape*/
.rodape {
    position: absolute;
    margin-top: -5px;
    height: 20vh;
    color: #ffffff;
    background-color: #141414;
    width: 100%;
    left: 0;
}

.logopart img {
    height: 10vh;
    position: absolute;
    top: 20px;
    /* Ajuste conforme necessário */
    left: 50px;
    /* Ajuste para alinhar horizontalmente */
}

.logopart h1 {
    color: #009688;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 130px;
}

.rodape-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 15px;
    margin-left: -55px;
    margin-top: 25px;
    font-weight: 500;
    text-align: center;

}

.social {
    margin-right: 75px;
}

.social i {
    font-size: 27px;
    margin-top: 30px;
    padding: 0px 4px;
    color: #009688;
}

.copyright span {
    color: #009688;
}

/* Formulario de cadastro */


.formulariobody {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("Imagens/Vingadores-Fundo.jpg");
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-image img {
    width: 30rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 4rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.botaoHome {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.botaoHome a:link {
    text-decoration: none;
    color: #080F0F;

}

.botaoHome a:visited {
    text-decoration: none;
    color: #080F0F;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #009688;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #009688;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    padding: 0 .1rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 101%;
    margin-top: 1rem;
    border: none;
    background-color: #009688;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #008080;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}
